{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }} 
<link rel="stylesheet" href="{{ asset('css/components/login.css') }}">
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}

    

<div class="login-container">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div>
        <img class="logo-image" src="{{ asset('images/rcc-brasil-vertical-full.svg') }}">
    </div>

    <form method="post">
        <input type="email" placeholder="cpf" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <input type="password" placeholder="senha" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Entrar
        </button>

        <button class="btn btn-lg btn-office" type="button">
            Entrar com Office
        </button>

        <button class="btn btn-lg btn-ad" type="button">
            Entrar com Active Directory
        </button>
    </form>
</div>
{% endblock %}
